<footer class="fixed bottom-4 left-0 right-0 flex justify-center">
    <div
        class="w-full rounded-full mx-4 py-2 shadow-lg transition-colors duration-300 flex justify-around relative overflow-hidden">
        <div id="footerHighlight"
            class="absolute inset-y-0 left-0 bg-gray-300 dark:bg-gray-700 w-1/4 transition-all duration-300"></div>
        <a href="/" id="section1" class="footer-section text-center w-1/4 z-10 relative">Dashboard</a>
        <a href="/history" id="section2" class="footer-section text-center w-1/4 z-10 relative">History</a>
        <a href="/alert" id="section3" class="footer-section text-center w-1/4 z-10 relative">Notification</a>
        <a href="/graph" id="section3" class="footer-section text-center w-1/4 z-10 relative">Graph</a>
    </div>
</footer>

