
<div class="fixed w-full" style="z-index: 2;">
    <div id="statusBox" class="py-2 px-4 flex justify-center items-center text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-b-lg">
        <i class="fa-solid fa-signal px-2"></i>
        <span id="status">Status: <%= dataStatus.status %></span>
        <button class="custom-btn btn-11">Read More</button>
    </div>
    

</div>