<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="https://res.cloudinary.com/du43x2mnv/image/upload/v1724209712/flood_logo_jls8hq.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.4.0/flowbite.min.js"></script>
    <title>About Us</title>

    <style>
      .collapse {
        transition: max-height 0.3s ease-out;
        overflow: hidden;
        display: none; /* Hide by default */
      }
      .collapse-visible {
        display: block; /* Show when visible */
        max-height: 1000px; /* Adjust as needed */
      }
      .accordion-button {
        background-color: #60A5FA; /* Lighter blue */
        padding: 10px 15px; /* Spacing inside buttons */
        color: #fff; /* Text color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
        width: 100%; /* Full width */
      }
      .accordion-button:hover {
        background-color: #93C5FD; /* Even lighter blue on hover */
        transform: scale(1.02); /* Slight scaling effect */
      }
      .collapse-content {
        background-color: #BFDBFE; /* Light blue for expanded content */
        padding: 10px 15px; /* Spacing inside expanded content */
        border-radius: 5px; /* Rounded corners */
        margin-top: 10px; /* Space between button and content */
        width: 100%; /* Full width */
      }
      .feature-image-container {
        width: 100%;
        height: 300px; /* Adjust this height */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8); /* Light background for better contrast */
        border-radius: 10px; /* Rounded corners */
        margin-top: 10px; /* Space between image container and text */
      }
      .feature-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; /* Ensures the image fits inside while maintaining the aspect ratio */
      }
      .image-background {
        background-color: #f3f4f6; /* Light gray background for images */
        padding: 20px; /* Padding around the image */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
      }
      .button {
        background-color: #f9fafb; /* Light background for buttons */
        padding: 10px 15px; /* Spacing inside buttons */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s; /* Smooth transition */
      }
      .button:hover {
        background-color: #e0f2fe; /* Light blue on hover */
      }
      .button:focus {
        outline: none; /* Remove default outline on focus */
      }
    </style>

</head>

<body class="bg-gray-100 text-gray-800">

    <!-- 1st Section: Logo and Main Page Button -->
    <header class="flex justify-between items-center p-6 bg-white shadow-md" style="min-height: 10vh;">
        <div class="flex items-center">
            <div class="bg-blue-700 w-2 h-8"></div>
            <span class="ml-4 text-2xl font-bold">FloodEye 2.0</span>
        </div>
        <a href="/<%= data.id %>">
            <button class="bg-blue-500 hover:bg-blue-400 text-black font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                Main Page
              </button>
        </a>
    </header>

    <!-- 2nd Section: Header with buttons -->
    <section class="flex flex-col items-center justify-center py-16 bg-blue-500 text-white bg-cover bg-center relative" 
            style="background-image: url('    https://images.unsplash.com/photo-1581059686229-de26e6ae5dc4?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-size: cover; background-position: center; height: 90vh;">
        <h1 class="text-4xl font-bold mb-6 text-center"><span class="auto-type"></span></h1>
        <span class="mb-6 text-center max-w-2xl">
            Transforming data into actionable insights, we empower communities with real-time flood monitoring and risk management. Our solution reimagines flood safety, providing the tools to protect lives and secure a more resilient future.
        </span>
        <div class="flex space-x-4">
            <button onclick="scrollToTeam()" class="px-6 py-2 bg-white text-blue-500 rounded hover:bg-blue-100">
                Meet Our Team
            </button>
            <button onclick="scrollToLearnMore()" class="px-6 py-2 bg-white text-blue-500 rounded hover:bg-blue-100">
                Learn More
            </button>
        </div>
    </section>
    
    

    <!-- 3rd Section: Our Development Team -->
    <section class="bg-gradient-to-b from-[#9DB2BF] to-[#f8fafc]">
        <div id="team" class="py-4 dark:bg-gray-100 dark:text-gray-800">
            <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
                <!-- section header -->
                <header class="text-center mx-auto mb-12">
                    <p
                        class="p-2 text-4xl font-bold tracking-wider text-center uppercase text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500">
                        Our Development team</p>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 100 60" style="margin: 0 auto;height: 35px;" xml:space="preserve">
                        <circle cx="50.1" cy="30.4" r="5" class="stroke-primary"
                            style="fill: transparent;stroke-width: 2;stroke-miterlimit: 10;"></circle>
                        <line x1="55.1" y1="30.4" x2="100" y2="30.4" class="stroke-primary"
                            style="stroke-width: 2;stroke-miterlimit: 10;"></line>
                        <line x1="45.1" y1="30.4" x2="0" y2="30.4" class="stroke-primary"
                            style="stroke-width: 2;stroke-miterlimit: 10;"></line>
                    </svg>
                </header>
                <!-- end section header -->
                <!-- row -->
                <div class=" flex flex-wrap flex-row -mx-4 justify-center">

                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg"
                            data-wow-duration="1s"
                            style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725290116/mazran-removebg-preview_1_cul5yh.png"
                                    class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">MAZRAN BIN ESRO</p>
                                <p class="text-gray-500 leading-relaxed font-light">Supervisor</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link"
                                        href="https://www.linkedin.com/in/mazran-esro-3a6ab957/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link"
                                        href="https://www.facebook.com/mazran.utem?mibextid=ZbWKwL">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link"
                                        href="mailto:mazran@utem.edu.my">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>

                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg"
                            data-wow-duration="1s"
                            style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725202064/yc_um2xa6.jpg"
                                    class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">HEE YEE CINN</p>
                                <p class="text-gray-500 leading-relaxed font-light">Team Leader</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link"
                                        href="https://www.linkedin.com/in/hee-yee-cinn-124223225/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link"
                                        href="https://github.com/codecinn27">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link"
                                        href="https://www.facebook.com/yee.cinn">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link"
                                        href="mailto:codecinnpro@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg"
                            data-wow-duration="1s"
                            style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725204317/cn_tg4zqb.jpg"
                                    class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">KANG CHIAW NA</p>
                                <p class="text-gray-500 leading-relaxed font-light">Hardware Engineer</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link"
                                        href="https://www.linkedin.com/in/kang-chiaw-na-91324b307/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link"
                                        href="https://github.com/ChiawNa">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link"
                                        href="https://www.facebook.com/kang.chiawna.5/">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link"
                                        href="mailto:chiawna0@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>


                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg"
                            data-wow-duration="1s"
                            style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725205086/zt_oxgsy3.jpg"
                                    class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">YAP CHUN FAI</p>
                                <p class="text-gray-500 leading-relaxed font-light">Software Engineer</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link"
                                        href="https://www.linkedin.com/in/yap-chun-fai-8475b6239/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link"
                                        href="https://github.com/loodsD">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link"
                                        href="https://www.facebook.com/yap.chunfai.3">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link"
                                        href="mailto:zatfai2001@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>

                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg"
                            data-wow-duration="1s"
                            style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725205189/cf_mm1lqk.jpg"
                                    class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">LEE ZHAO TIAN</p>
                                <p class="text-gray-500 leading-relaxed font-light">Project Tester</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link"
                                        href="https://www.linkedin.com/in/lee-zhao-tian-54501b2b6/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link"
                                        href="https://github.com/ZhaoTianGit">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link"
                                        href="https://www.facebook.com/tianzhao.lee.35/">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link"
                                        href="mailto:zhaotian.org@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>

                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg"
                            data-wow-duration="1s"
                            style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725205350/mp_rfe3rt.jpg"
                                    class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">WEE MAO PHIN</p>
                                <p class="text-gray-500 leading-relaxed font-light">UI/UX Designer</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link"
                                        href="https://www.linkedin.com/in/weemaophin/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link"
                                        href="https://github.com/wmp1123">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link"
                                        href="https://www.facebook.com/weemaophin">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link"
                                        href="mailto:weemaophin@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 4th Section: Key Features-->
     <section class="bg-gray-100 pt-0.3px pb-8">
      <div class="max-w-2xl mx-auto rounded-xl overflow-hidden md:max-w-lg bg-white">
        <div class="md:flex bg-white">
          <div class="p-8 bg-transparent">
            <h1 class="tracking-wide text-4xl text-black font-semibold text-center mb-12">Key Features</h1>
            
            <div class="mt-4">
              <button id="collapseButton1" class="accordion-button w-full text-left flex justify-between items-center pr-2">
                Real-time monitoring with live data visualizations
                <i id="arrow1" class="fas fa-chevron-down transition-transform ml-4"></i>
              </button>
              <div id="collapseContent1" class="collapse collapse-content mt-2"> <!-- Increased margin-top here -->
                <p class="text-gray-700 mb-2">This feature enables users to see live data updates, allowing for immediate insights into system performance and status.</p>
                <div class="image-background">
                  <div class="feature-image-container">
                    <img class="feature-image" src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1727634504/Screenshot_2024-09-30_022656_asbxwa.png" alt="Real-time monitoring with live data visualizations">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="mt-4">
              <button id="collapseButton2" class="accordion-button w-full text-left flex justify-between items-center pr-2">
                Automated alerts and notifications via Telegram and email
                <i id="arrow2" class="fas fa-chevron-down transition-transform ml-4"></i>
              </button>
              <div id="collapseContent2" class="collapse collapse-content mt-2"> <!-- Increased margin-top here -->
                <p class="text-gray-700 mb-2">Receive instant notifications through Telegram and email, ensuring you are always informed about critical updates.</p>
                <div class="image-background">
                  <div class="feature-image-container">
                    <img class="feature-image" src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1727701558/WhatsApp_Image_2024-09-30_at_18.54.58_dfe776e4_wfgup9.jpg" alt="Automated alerts and notifications via Telegram and email">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="mt-4">
              <button id="collapseButton3" class="accordion-button w-full text-left flex justify-between items-center pr-2">
                Advanced data analysis and predictive modeling
                <i id="arrow3" class="fas fa-chevron-down transition-transform ml-4"></i>
              </button>
              <div id="collapseContent3" class="collapse collapse-content mt-2"> <!-- Increased margin-top here -->
                <p class="text-gray-700 mb-2">Utilize advanced algorithms to analyze data trends and make accurate predictions, enhancing decision-making capabilities.</p>
                <div class="image-background">
                  <div class="feature-image-container">
                    <img class="feature-image" src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1727701053/Screenshot_2024-09-30_190117_ctijqf.png" alt="Advanced data analysis and predictive modeling">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="mt-4">
              <button id="collapseButton4" class="accordion-button w-full text-left flex justify-between items-center pr-2">
                Seamless user interface for controlling emergency responses
                <i id="arrow4" class="fas fa-chevron-down transition-transform ml-4"></i>
              </button>
              <div id="collapseContent4" class="collapse collapse-content mt-2"> <!-- Increased margin-top here -->
                <p class="text-gray-700 mb-2">An intuitive interface allows users to manage emergency situations effectively, such as opening sluice gates with just a click.</p>
                <div class="image-background">
                  <div class="feature-image-container">
                    <img class="feature-image" src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1729006093/Untitled_design_1_s4ru7l.png" alt="Seamless user interface for controlling emergency responses">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

     </section>

    <!-- 5th Section: Footer -->
    <footer class="bg-blue-600 text-white py-8">
        <div class="text-center">
            <p class="mb-4">© 2024 FloodEye 2.0 | All Rights Reserved</p>
            <a href="privacy.html" class="hover:underline">Privacy Policy</a> |
            <a href="contact.html" class="hover:underline">Contact Us</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <!-- typing script -->
    <script>

        var title = new Typed('.auto-type', {
            strings: ['Transforming Data into Action','Innovating for a Safer Tomorrow', 'Empowering Communities with Real-Time Flood Insights'],
            typeSpeed: 40,
            backSpeed: 20,
            loop: true
        })
    </script>
    <script>
        function scrollToTeam() {
            document.getElementById('team').scrollIntoView({ behavior: 'smooth' });
        }

        function scrollToLearnMore() {
            document.getElementById('learn-more').scrollIntoView({ behavior: 'smooth' });
        }

        document.querySelectorAll('[id^="collapseButton"]').forEach(button => {
      button.addEventListener('click', function() {
        const contentId = button.id.replace('collapseButton', 'collapseContent');
        const content = document.getElementById(contentId);
        const arrow = button.querySelector('i');
        
        // Toggle content visibility
        if (content.classList.contains('collapse-visible')) {
          content.classList.remove('collapse-visible');
          content.classList.add('collapse'); // Ensure the content is hidden
        } else {
          content.classList.remove('collapse');
          content.classList.add('collapse-visible'); // Show the content
        }

        // Toggle arrow direction
        arrow.classList.toggle('fa-chevron-down');
        arrow.classList.toggle('fa-chevron-up');
      });
    });

    </script>
</body>

</html>



<!-- 
refs:

https://codepen.io/yudizsolutions/pen/wvzrPoj
https://www.creative-tim.com/twcomponents/component/carousel-slider-with-tailwindcss-and-jquery
https://www.creative-tim.com/twcomponents/component/slider-9


flood image
https://res.cloudinary.com/du43x2mnv/image/upload/v1726592512/flood-965092_1280_rvhl7z.jpg
-->