<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="https://res.cloudinary.com/du43x2mnv/image/upload/v1724209712/flood_logo_jls8hq.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About Us</title>

</head>

<body>
    <section class="flex justify-between items-center bg-[#9DB2BF]">
        <h1 class="text-black p-4 pl-8 bold">About Us</h1>
        <a href="/<%= data.id %>">
            <button class="bg-blue-500 hover:bg-blue-400 text-black font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded mr-8 mt-8">
                Main Page
              </button>
        </a>
    </section>

    <section class="bg-gradient-to-b from-[#9DB2BF] to-[#f8fafc]">
        <div id="team" class="py-6 dark:bg-gray-100 dark:text-gray-800">
            <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
                <!-- section header -->
                <header class="text-center mx-auto mb-12">
                        <p class="p-2 text-4xl font-bold tracking-wider text-center uppercase text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500">Our Development team</p>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 60" style="margin: 0 auto;height: 35px;" xml:space="preserve">
                        <circle cx="50.1" cy="30.4" r="5" class="stroke-primary" style="fill: transparent;stroke-width: 2;stroke-miterlimit: 10;"></circle>
                        <line x1="55.1" y1="30.4" x2="100" y2="30.4" class="stroke-primary" style="stroke-width: 2;stroke-miterlimit: 10;"></line>
                        <line x1="45.1" y1="30.4" x2="0" y2="30.4" class="stroke-primary" style="stroke-width: 2;stroke-miterlimit: 10;"></line>
                    </svg>
                </header>
                <!-- end section header -->
                <!-- row -->
                <div class=" flex flex-wrap flex-row -mx-4 justify-center">
                    
                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725290116/mazran-removebg-preview_1_cul5yh.png" class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">MAZRAN BIN ESRO</p>
                                <p class="text-gray-500 leading-relaxed font-light">Supervisor</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link" href="https://www.linkedin.com/in/mazran-esro-3a6ab957/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link" href="https://www.facebook.com/mazran.utem?mibextid=ZbWKwL">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link" href="mailto:mazran@utem.edu.my">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>                

                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725202064/yc_um2xa6.jpg" class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">HEE YEE CINN</p>
                                <p class="text-gray-500 leading-relaxed font-light">Team Leader</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link" href="https://www.linkedin.com/in/hee-yee-cinn-124223225/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link" href="https://github.com/codecinn27">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link" href="https://www.facebook.com/yee.cinn">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link" href="mailto:codecinnpro@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725204317/cn_tg4zqb.jpg" class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">KANG CHIAW NA</p>
                                <p class="text-gray-500 leading-relaxed font-light">Hardware Engineer</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link" href="https://www.linkedin.com/in/kang-chiaw-na-91324b307/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link" href="https://github.com/ChiawNa">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link" href="https://www.facebook.com/kang.chiawna.5/">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link" href="mailto:chiawna0@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>
        
                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725205086/zt_oxgsy3.jpg" class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">YAP CHUN FAI</p>
                                <p class="text-gray-500 leading-relaxed font-light">Software Engineer</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link" href="https://www.linkedin.com/in/yap-chun-fai-8475b6239/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link" href="https://github.com/loodsD">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>                                

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link" href="https://www.facebook.com/yap.chunfai.3">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link" href="mailto:zatfai2001@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>
        
                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725205189/cf_mm1lqk.jpg" class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">LEE ZHAO TIAN</p>
                                <p class="text-gray-500 leading-relaxed font-light">Project Tester</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link" href="https://www.linkedin.com/in/lee-zhao-tian-54501b2b6/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link" href="https://github.com/ZhaoTianGit">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>                                

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link" href="https://www.facebook.com/tianzhao.lee.35/">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link" href="mailto:zhaotian.org@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>
        
                    <div class="flex-shrink max-w-full basis-1/3 px-4 w-2/3 sm:w-1/2 md:w-5/12 lg:w-1/4 xl:px-6">
                        <div class="relative overflow-hidden bg-white dark:bg-gray-800 mb-12 hover-grayscale-0 wow fadeInUp border border-gray-400 rounded-lg" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <!-- team block -->
                            <div class="relative overflow-hidden px-6">
                                <img src="https://res.cloudinary.com/dcepv9pfl/image/upload/v1725205350/mp_rfe3rt.jpg" class="w-48 h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                            </div>
                            <div class="pt-6 text-center">
                                <p class="text-lg leading-normal font-bold mb-1">WEE MAO PHIN</p>
                                <p class="text-gray-500 leading-relaxed font-light">UI/UX Designer</p>
                                <!-- social icon -->
                                <div class="mt-2 mb-5 space-x-2">
                                    <!-- LinkedIn -->
                                    <a class="hover:text-blue-700" aria-label="LinkedIn link" href="https://www.linkedin.com/in/weemaophin/">
                                        <i class="fab fa-linkedin text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- GitHub -->
                                    <a class="hover:text-blue-700" aria-label="GitHub link" href="https://github.com/wmp1123">
                                        <i class="fab fa-github text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>                                

                                    <!-- Facebook -->
                                    <a class="hover:text-blue-700" aria-label="Facebook link" href="https://www.facebook.com/weemaophin">
                                        <i class="fab fa-facebook text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>

                                    <!-- Email -->
                                    <a class="hover:text-blue-700" aria-label="Email link" href="mailto:weemaophin@gmail.com">
                                        <i class="fas fa-envelope text-xl"></i> <!-- Tailwind CSS size utility -->
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end team block -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-cover bg-center bg-gradient-to-b from-slate-50 to-sky-400 h-screen">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 sm:gap-y-10 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="lg:pr-8 lg:pt-10">
              <div class="lg:max-w-lg">
                    <h2 class="p-2 text-4xl font-bold tracking-wider uppercase text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-yellow-400">Our Objectives</h2>
                <dl class="mt-10 max-w-xl space-y-8 text-justify leading-7 text-gray-600 lg:max-w-none">
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor" aria-hidden="true" class="absolute left-1 top-1 h-5 w-5 text-indigo-600">
                        <path
                          d="M3.196 12.87l-.825.483a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.758 0l7.25-4.25a.75.75 0 000-1.294l-.825-.484-5.666 3.322a2.25 2.25 0 01-2.276 0L3.196 12.87z">
                        </path>
                        <path
                          d="M3.196 8.87l-.825.483a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.758 0l7.25-4.25a.75.75 0 000-1.294l-.825-.484-5.666 3.322a2.25 2.25 0 01-2.276 0L3.196 8.87z">
                        </path>
                        <path
                          d="M10.38 1.103a.75.75 0 00-.76 0l-7.25 4.25a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.76 0l7.25-4.25a.75.75 0 000-1.294l-7.25-4.25z">
                        </path>
                      </svg>Establish a Robust Monitoring Network:
                    </dt>
                    <dd class="inline text-justify">Develop a network that provides real-time data on water levels, precipitation, and other relevant parameters using the FavorIOT platform.
                    </dd>
                  </div>
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        class="absolute left-1 top-1 h-5 w-5 text-indigo-600">
                        <path fill-rule="evenodd"
                          d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z"
                          clip-rule="evenodd"></path>
                      </svg>
                      Enhance Community Resilience:
                    </dt>
                    <dd class="inline">Deliver timely alerts and notifications to residents and authorities during flood events through Telegram notifications.</dd>
                  </div>
                  <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor" aria-hidden="true" class="absolute left-1 top-1 h-5 w-5 text-indigo-600">
                        <path fill-rule="evenodd"
                          d="M14.5 10a4.5 4.5 0 004.284-5.882c-.105-.324-.51-.391-.752-.15L15.34 6.66a.454.454 0 01-.493.11 3.01 3.01 0 01-1.618-1.616.455.455 0 01.11-.494l2.694-2.692c.24-.241.174-.647-.15-.752a4.5 4.5 0 00-5.873 4.575c.055.873-.128 1.808-.8 2.368l-7.23 6.024a2.724 2.724 0 103.837 3.837l6.024-7.23c.56-.672 1.495-.855 2.368-.8.096.007.193.01.291.01zM5 16a1 1 0 11-2 0 1 1 0 012 0z"
                          clip-rule="evenodd"></path>
                        <path
                          d="M14.5 11.5c.173 0 .345-.007.514-.022l3.754 3.754a2.5 2.5 0 01-3.536 3.536l-4.41-4.41 2.172-2.607c.052-.063.147-.138.342-.196.202-.06.469-.087.777-.067.128.008.257.012.387.012zM6 4.586l2.33 2.33a.452.452 0 01-.08.09L6.8 8.214 4.586 6H3.309a.5.5 0 01-.447-.276l-1.7-3.402a.5.5 0 01.093-.577l.49-.49a.5.5 0 01.577-.094l3.402 1.7A.5.5 0 016 3.31v1.277z">
                        </path>
                      </svg>Create User-Friendly Interfaces: </dt>
                    <dd class="inline">Develop a website to visualize flood data, promoting community engagement and empowerment.
                    </dd>
                  </div>
                </dl>
              </div>
            </div><img src="https://images.unsplash.com/photo-1609520778163-a16fb3862581?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zmxvb2R8ZW58MHx8MHx8fDA%3D" alt="Product screenshot" class="w-[40rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[40rem] md:-ml-4 lg:-ml-0" width="2000" height="1200">
          </div>
        </div>
      </section>

      <section class="bg-cover bg-center bg-gradient-to-b from-sky-400 to-slate-50 h-screen">
        <p class="text-4xl font-bold tracking-wider uppercase text-center text-transparent bg-clip-text bg-gradient-to-r from-violet-700 via-purple-500 to-slate-100">Demonstration Video</p>


        <div class="flex justify-center">
            <video class="w-96 h-96" autoplay muted controls>
                <source src="https://pagedone.io/asset/uploads/1705298724.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
    
</body>
</html>
