<% layout('layouts/boilerplate') %>
<h1>Graph</h1>
<h2><%= data.locationName %></h2>
<div id="statusChart"></div>
<div id="lineChart"></div>
<script src="/javascripts/apexChart/statusMixedChart.js"></script>
<script src="/javascripts/apexChart/lineChart.js"></script>



