<% layout('layouts/boilerplate') %>
<h1>Graph</h1>
<!-- <h2><%= data.locationName %></h2> -->
<div id="statusChart"></div>
<div id="lineChart"></div>
<div class="mb-12"></div>>
<script>
    var data2 = <%- JSON.stringify(data2) %>
</script>
<script src="/javascripts/graph_apexChart/statusMixedChart.js"></script>
<script src="/javascripts/graph_apexChart/lineChart.js"></script>



