<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="https://res.cloudinary.com/du43x2mnv/image/upload/v1724209712/flood_logo_jls8hq.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Main Testing</title>
</head>
<body>

    <div x-data="{isLoading:false, isFestive:false, isShowDetail:false}" class="bg-gradient-to-t flex-col from-lime-50 to-sky-100 min-w-screen min-h-screen flex items-center justify-center"></div>
        <!-- Title -->
        <h1 class="text-3xl mb-4 text-blue-950">Font Awesome Style <span class="text-yellow-500">Button.</span></h1>
        <div class="p-4 bg-white rounded-md drop-shadow-2xl flex flex-col space-y-4">
            <div class="flex items-start space-x-4">
                <!-- Loading Button -->
                <div @click="isLoading = !isLoading" class="bg-yellow-500 duration-150 hover:!border-b-2 text-blue-950 rounded-xl drop-shadow-lg group flex items-center border-2 border-b-4 border-blue-950 cursor-pointer active:bg-yellow-400">
                    <div class="py-2 px-3" x-text="isLoading ? 'Loading...' : 'Click to load'">
                    </div>
                    <div  :class="isLoading ? 'opacity-100 scale-100 duration-200 w-auto py-2 pr-3' : 'opacity-0 scale-0 duration-100 w-0 p-0'">
                    <i class="fad fa-spinner-third animate-spin"></i>
                    </div>
                </div>
                <!-- Icon Button -->
                <div @click="isFestive = !isFestive" class="bg-zinc-100 duration-150 hover:!border-b-2 text-blue-950 rounded-xl drop-shadow-lg group flex items-center border-2 border-b-4 border-blue-950 cursor-pointer active:bg-zinc-300">
                    <div class="py-2 pl-3">
                    <i class="fad fa-party-horn text-xl"></i>
                    </div>
                    <div class="py-2 px-3" x-text="isFestive ? 'Happy New Year!!' : 'Click to celebrate'">
                    
                    </div>
                </div>
                <!-- Detail Button -->
                <div @click="isShowDetail = !isShowDetail" class="bg-indigo-400 duration-150 hover:!border-b-2 text-white rounded-xl drop-shadow-lg group flex flex-col items-center border-2 border-b-4 border-blue-950 cursor-pointer active:bg-indigo-500 overflow-hidden">
                    <div class="py-2 px-3" x-text="isShowDetail ? 'Now you see detail' : 'Click for more detail'">
                    </div>
                    <div :class="isShowDetail ? 'opacity-100 duration-300 h-auto py-4 px-3 border-t-4 bg-indigo-100' : 'opacity-0 duration-100 border-t-0 h-[0px] p-0'" class="border-dashed border-indigo-300 w-full">
                    <p :class="isShowDetail ? 'translate-y-0 opacity-80' : '-translate-y-[20%] opacity-0'"  class="text-blue-900 text-xs duration-150 delay-100">Ok, This is something that <br> I have to put here, Even I<br> have no idea what to type.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background confetti -->
        <canvas :class="isFestive ? 'opacity-100 translate-y-0 duration-1000' : 'opacity-0 -translate-y-[100%]'" id="my-canvas" class="absolute pointer-events-none"></canvas>
    </div>

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css"
            />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js"></script>

    <script>
    let confettiElement = document.getElementById('my-canvas');
    console.log(confettiElement,'confettiElement');
    let confettiSettings = { target: confettiElement };
    let confetti = new ConfettiGenerator(confettiSettings);
    confetti.render();
    </script>


    <style>
        @font-face {
        font-family: "Cera Round Pro Bold";
        src: url("https://db.onlinewebfonts.com/t/9d23cda2fd2a195a8467e0967debd4d3.eot");
        src: url("https://db.onlinewebfonts.com/t/9d23cda2fd2a195a8467e0967debd4d3.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/9d23cda2fd2a195a8467e0967debd4d3.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/9d23cda2fd2a195a8467e0967debd4d3.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/9d23cda2fd2a195a8467e0967debd4d3.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/9d23cda2fd2a195a8467e0967debd4d3.svg#Cera Round Pro Bold")format("svg");
        }
        body{
        font-family: "Cera Round Pro Bold";
        }
        p {
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }
    </style>

</body>
</html>