<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <title>Graph 4</title>
</head>
<body>
    <div class="row mt-4">
        <div class="col-md-7">
          <div class="box  mt-4">
            <div id="linechart"></div>
          </div>
        </div>
    </div>
<script>

var optionsLine = {
    chart: {
        height: 350,
        type: 'line',
        stacked: true,
        animations: {
        enabled: true,
        easing: 'linear',
        dynamicAnimation: {
            speed: 1000
        }
        },
        dropShadow: {
        enabled: true,
        opacity: 0.3,
        blur: 5,
        left: -7,
        top: 22
        },
        events: {
        animationEnd: function (chartCtx, opts) {
            const newData1 = chartCtx.w.config.series[0].data.slice()
            newData1.shift()
            const newData2 = chartCtx.w.config.series[1].data.slice()
            newData2.shift()

            // check animation end event for just 1 series to avoid multiple updates
            if (opts.el.node.getAttribute('index') === '0') {
            window.setTimeout(function () {
                chartCtx.updateOptions({
                series: [{
                    data: newData1
                }, {
                    data: newData2
                }],
                subtitle: {
                    text: parseInt(getRandom() * Math.random()).toString(),
                }
                }, false, false)
            }, 300)
            }

        }
        },
        toolbar: {
        show: false
        },
        zoom: {
        enabled: false
        }
    },
    dataLabels: {
        enabled: false
    },
    stroke: {
        curve: 'straight',
        width: 5,
    },
    grid: {
        padding: {
        left: 0,
        right: 0
        }
    },
    markers: {
        size: 0,
        hover: {
        size: 0
        }
    },
    series: [{
        name: 'Running',
        data: generateMinuteWiseTimeSeries(new Date("12/12/2016 00:20:00").getTime(), 12, {
        min: 30,
        max: 110
        })
    }, {
        name: 'Waiting',
        data: generateMinuteWiseTimeSeries(new Date("12/12/2016 00:20:00").getTime(), 12, {
        min: 30,
        max: 110
        })
    }],
    xaxis: {
        type: 'datetime',
        range: 2700000
    },
    title: {
        text: 'Processes',
        align: 'left',
        style: {
        fontSize: '12px'
        }
    },
    subtitle: {
        text: '20',
        floating: true,
        align: 'right',
        offsetY: 0,
        style: {
        fontSize: '22px'
        }
    },
    legend: {
        show: true,
        floating: true,
        horizontalAlign: 'left',
        onItemClick: {
        toggleDataSeries: false
        },
        position: 'top',
        offsetY: -28,
        offsetX: 60
    },
    }
    var chartLine = new ApexCharts(
        document.querySelector("#linechart"),
        optionsLine
    );
    chartLine.render()

    var trigoStrength = 3
    var iteration = 11

    function getRandom() {
        var i = iteration;
        return (Math.sin(i / trigoStrength) * (i / trigoStrength) + i / trigoStrength + 1) * (trigoStrength * 2)
    }
    window.setInterval(function () {

        iteration++;
        chartLine.updateSeries([{
        data: [...chartLine.w.config.series[0].data,
            [
            chartLine.w.globals.maxX + 300000,
            getRandom()
            ]
        ]
        }, {
        data: [...chartLine.w.config.series[1].data,
            [
            chartLine.w.globals.maxX + 300000,
            getRandom()
            ]
        ]
        }])





    }, 3000);

</script>
</body>
</html>