<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="https://res.cloudinary.com/du43x2mnv/image/upload/v1724209712/flood_logo_jls8hq.png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.1/dist/chartjs-plugin-zoom.min.js"></script>
    <title>Graph 2</title>
</head>
<body>
    <h1>Graph 2</h1>
    <div>
        <canvas id="bar_chart"></canvas>
    </div>
    <div>
        <canvas id="bar_chart2"></canvas>
    </div>
    <div>
        <canvas id="bar_chart3"></canvas>
    </div>
    <div>
        <canvas id="water_level"></canvas>
    </div>
    <div>
        <canvas id="rain"></canvas>
    </div>
    <div>
        <canvas id="humidity"></canvas>
    </div>
    <div>
        <canvas id="tempC"></canvas>
    </div>

<script src="/javascripts/chartjs/bar_chart.js"></script>
<script src="/javascripts/chartjs/bar_chart2.js"></script>
<script src="/javascripts/chartjs/bar_chart3.js"></script>

<script src="/javascripts/chartjs/water_level.js"></script>
<script src="/javascripts/chartjs/rain_output.js"></script>
<script src="/javascripts/chartjs/humidity.js"></script>
<script src="/javascripts/chartjs/temperature.js"></script>

</body>
</html>