<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MQTT WebSocket App</title>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="x-icon" href="https://res.cloudinary.com/du43x2mnv/image/upload/v1724209712/flood_logo_jls8hq.png">
</head>

<body class="bg-gray-100 font-sans">

  <div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold text-center text-blue-600 mb-8">MQTT WebSocket App</h1>

    <!-- Subscription Form -->
    <div class="bg-white shadow-md rounded-lg p-6 max-w-lg mx-auto mb-8">
        <input type="text" id="subscribeTopic" placeholder="Enter topic to subscribe" class="border border-gray-300 rounded-lg p-3 w-full mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400">
        <button onclick="subscribeToTopic()" class="bg-green-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-green-600 transition duration-300">Subscribe</button>
    </div>
      
    <!-- Publish Message Form -->
    <div class="bg-white shadow-md rounded-lg p-6 max-w-lg mx-auto">
      <input type="text" id="topic" placeholder="Enter topic" class="border border-gray-300 rounded-lg p-3 w-full mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400">
      <input type="text" id="message" placeholder="Enter message" class="border border-gray-300 rounded-lg p-3 w-full mb-4 focus:outline-none focus:ring-2 focus:ring-blue-400">
      <button onclick="publishMessage()" class="bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg hover:bg-blue-600 transition duration-300">Publish</button>
    </div>

    <!-- Messages Display -->
    <div id="messages" class="mt-8 bg-gray-50 p-6 rounded-lg shadow-md max-w-lg mx-auto text-left space-y-3"></div>
  </div>

  <script>
    const socket = io();

    socket.on('mqtt-message', (data) => {
      const messagesDiv = document.getElementById('messages');
      const newMessage = document.createElement('p');
      newMessage.classList.add('p-2', 'bg-white', 'rounded-lg', 'shadow', 'border-l-4', 'border-blue-500');
      newMessage.textContent = `Topic: ${data.topic}, Message: ${data.message}`;
      messagesDiv.appendChild(newMessage);
    });

    function publishMessage() {
      const topic = document.getElementById('topic').value;
      const messageText = document.getElementById('message').value;
      socket.emit('publish', {topic, message: messageText});
    }

    function subscribeToTopic() {
      const topic = document.getElementById('subscribeTopic').value;
      socket.emit('subscribe', topic);
    }
  </script>
</body>

</html>
